extends layout

block content
    div.row
      div.col-md-12.text-center


        .intro
        h1 Create a Postcard with your Instagram Photos




        a(href="/authorize-user" id="login_btn" class="btn btn-primary") Login to Instagram
