extends layout


block content
  body.bridge
    div.row
      div.col-md-12.text-center


        .intro
        div.intro Create a Postcard with your Instagram Photos




        a(href="/authorize-user" id="login_btn" class="btn btn-primary") Login to Instagram
